.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}
.container {
  position: relative; /* 부모 컨테이너는 상대적으로 위치 */
  width: 100%;
  height: 100vh;
}

.header {
  position: absolute; /* 헤더는 절대 위치 */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #4caf4f6b;
  color: white;
  text-align: center;
  z-index: 2; /* content는 header보다 아래에 배치 */
}

.content {
  position: absolute; /* 콘텐츠도 절대 위치 */
  top: 0; /* 동일한 위치 */
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffc2c2;
  color: #333;
  opacity: 0.5; /* 겹치는 부분을 더 구분할 수 있도록 */
  z-index: 1; /* content는 header보다 아래에 배치 */
}
